<ion-header>
  <ion-toolbar>
   
	<ion-buttons class="logo" slot="end">
	  <ion-menu-button><ion-icon name="menu-outline"></ion-icon></ion-menu-button>
	  
	</ion-buttons>
	 <ion-title class="logo-top"><img src="assets/img/Layer 6.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="room-create">
		<img src="assets/img/chat.png">
		<p>Give your new room a name</p>
		<ion-input placeholder="Type name here" type="text"></ion-input>
		<div class="prev-next">
			<div class="circles"><span><<</span></div>
			<div class="circles"><span (click)=" chat()">>></span></div>
		</div>
	</div>
	
	<p class="header1">
		Join a room!
	</p>
	
	<div class="btn-wrap" (click)=" chat()">
		<div class="col-3">
			<p> </p>
		</div>
		<div class="col-4">
			<p>Coffee & Bagels</p>
		</div>
		<div class="col-3">
			<div class="col-4">
				<p><img src="assets/img/chat.png"></p>
			</div>
			
			<div class="col-4">
				<p>73</p>
			</div>
		</div>
	</div>
	
	<div class="btn-wrap" (click)=" chat()">
		<div class="col-3">
			<p> </p>
		</div>
		<div class="col-4">
			<p>Waikiki Groove</p>
		</div>
		<div class="col-3">
			<div class="col-4">
				<p><img src="assets/img/chat.png"></p>
			</div>
			
			<div class="col-4">
				<p>73</p>
			</div>
		</div>
	</div>
	
	<div class="btn-wrap" (click)=" chat()">
		<div class="col-3">
			<p> </p>
		</div>
		<div class="col-4">
			<p>Westside boyz</p>
		</div>
		<div class="col-3">
			<div class="col-4">
				<p><img src="assets/img/chat.png"></p>
			</div>
			
			<div class="col-4">
				<p>73</p>
			</div>
		</div>
	</div>
	
	<div class="btn-wrap" (click)=" chat()">
		<div class="col-3">
			<p> </p>
		</div>
		<div class="col-4">
			<p>Missed connections</p>
		</div>
		<div class="col-3">
			<div class="col-4">
				<p><img src="assets/img/chat.png"></p>
			</div>
			
			<div class="col-4">
				<p>73</p>
			</div>
		</div>
	</div>
	
	<div class="btn-wrap" (click)=" chat()">
		<div class="col-3">
			<p> </p>
		</div>
		<div class="col-4">
			<p>Hall & Oates show</p>
		</div>
		<div class="col-3">
			<div class="col-4">
				<p><img src="assets/img/chat.png"></p>
			</div>
			
			<div class="col-4">
				<p>73</p>
			</div>
		</div>
	</div>
</ion-content>
