
<ion-content>
	<div class="logo-wrap">
		<img src="assets/img/logo.png">
	</div>
	<div class="btn-wrap">
		<!-- <input type="text" [(ngModel)]="user"> -->
		<ion-button (click)="start()">
			<span *ngIf="showload == 0">ENTER </span>
			<ion-spinner  *ngIf="showload == 1" name="crescent"></ion-spinner>
		</ion-button>


		<p>By clicking enter you are agreeing to our <a href="">Terms of Services</a> </p>
	</div>
	<div class="prog-bar">
		<ion-progress-bar value="0.5"></ion-progress-bar>
	</div>
</ion-content>
