<ion-header class="top_head">
	<ion-toolbar>

		<div class="mini_left">
			<ion-img src="assets/img/mini.png"></ion-img>
		</div>
		<div class="logo_top">
			<ion-img src="assets/img/Layer 6.png"></ion-img>
		</div>
		<div class="side_menu_button">
			<ion-buttons slot="start">
				<ion-menu-button></ion-menu-button>
			</ion-buttons>
		</div>
	</ion-toolbar>
</ion-header>
<ion-content class="toplong" padding>
	<div class="popup-wrap" *ngIf="block">
		 <div class="icon-wrap" (click)="action('pchat')" >
			<ion-icon name="chatbox-ellipses-outline"></ion-icon>
			<p>Message</p>
		</div>
		<div class="icon-wrap" (click)="block = false;reson_show = true;">
			<ion-icon name="flag-outline"></ion-icon>
			<p>Report</p>
		</div>
		<div class="icon-wrap" (click)="action('block')">
			<ion-icon name="ban-outline"></ion-icon>
			<p>Block</p>
		</div>
	</div>
	<div class="popup-wrap popup-reason" *ngIf="reson_show">
		<ion-input  [(ngModel)]="reason" placeholder="Explain reason"></ion-input >
    	<ion-button (click)="action('report')">Submit</ion-button>
	</div>
	<ng-container *ngFor="let ch of chat">
    <div *ngIf="ch.join">
      New user join
    </div>

		<div class="message sent-message" *ngIf="ch.grp == myId && ch.user == user && !ch.join">
		<div class="sent-color">
			<!-- <span>{{ch.msg}}</span><img (click)="block = ch.user"  src="assets/img/Layer 7.png"> -->
			<span>{{ch.msg}}</span><img   src="assets/img/Layer 7.png">
		</div>
		<!-- <p class="time">{{ch.date}}{{ch.date}} Here {{ch.place}}</p> -->
		<p class="time">{{ch.date}}  {{ch.place}}</p>
	</div>
	<div class="message rec-message" *ngIf="ch.grp == myId && ch.user != user && !check_block(ch.user) && !ch.join">
		<div class="rec-color">
			<img (click)="block = ch.user" src="assets/img/mini.png"><span>{{ch.msg}}</span>
		</div>
		<!-- <p class="time">{{ch.ts}} ago {{ch.place}} - {{check_block(ch.user)}}</p> -->
		<p class="time">{{ch.date}}  {{ch.place}} - {{check_block(ch.user)}}</p>
	</div>
	</ng-container>

</ion-content>

<ion-footer>
  <ion-toolbar>
	<div class="input-wrap">
		<ion-input (keydown.enter)="send()" [(ngModel)]="txt" placeholder="Write message">

		</ion-input>
	</div>
	<div class="send" (click)="send()">
		<ion-icon name="send-outline"></ion-icon>
	</div>
  </ion-toolbar>
</ion-footer>
