<ion-header>
  <ion-toolbar>
    <ion-buttons class="logo" slot="end">
	  <ion-menu-button><ion-icon name="menu-outline"></ion-icon></ion-menu-button>
	  
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="section1">
		<img src="assets/img/friends.png">
		<p>
			Invite a friend
		</p>
	</div>
	<div class="section2">
		<div class="icn-wrap">
			<img src="assets/img/link.png">
		</div>
		<p>
			Copy invite link
		</p>
	</div>
	<div class="section3">
		<div class="col4">
			<div class="section2">
				<div class="icn-wrap">
					<img src="assets/img/fb.png" class="fb">
				</div>
				<p>
					Facebook
				</p>
			</div>
		</div>
		
		<div class="col4">
			<div class="section2">
				<div class="icn-wrap">
					<img src="assets/img/tt.png">
				</div>
				<p>
					Twitter
				</p>
			</div>
		</div>
		
		<div class="col4">
			<div class="section2">
				<div class="icn-wrap">
					<img src="assets/img/wa.png">
				</div>
				<p>
					Whatsapp
				</p>
			</div>
		</div>
	</div>
	<div class="copyright">
		<p class="p1">Terms & Services</p>
		<p class="p2">2021 © TopChat24, LLC | All Rights Reserved</p>
	</div>
</ion-content>
