<ion-header class="top_head">
	<ion-toolbar>

		<div class="mini_left">
			<ion-img src="assets/img/mini.png"></ion-img>
		</div>
		<div class="logo_top">
			<ion-img src="assets/img/Layer 6.png"></ion-img>
		</div>
		<div class="side_menu_button">
			<ion-buttons slot="start">
				<ion-menu-button></ion-menu-button>
			</ion-buttons>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="section1" (click)=" share()">
		<img src="assets/img/friends.png">
		<p>
			Invite a friend
		</p>
	</div>
	<div class="section2" (click)="copy()">
		<div class="icn-wrap">
			<img src="assets/img/link.png">
		</div>
		<p>
			Copy invite link
		</p>
	</div>
	<div class="section3" (click)=" share()">
		<div class="col4">
			<div class="section2">
				<div class="icn-wrap">
					<img src="assets/img/fb.png" class="fb">
				</div>
				<p>
					Facebook
				</p>
			</div>
		</div>
		
		<div class="col4" (click)=" share()">
			<div class="section2">
				<div class="icn-wrap">
					<img src="assets/img/tt.png">
				</div>
				<p>
					Twitter
				</p>
			</div>
		</div>
		
		<div class="col4" (click)=" share()">
			<div class="section2">
				<div class="icn-wrap">
					<img src="assets/img/wa.png">
				</div>
				<p>
					Whatsapp
				</p>
			</div>
		</div>
	</div>
	<div class="copyright">
		<p class="p1">Terms & Services</p>
		<p class="p2">2021 © PopChat24, LLC | All Rights Reserved</p>
	</div>
</ion-content>
