<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu side="end" contentId="main-content" type="overlay">
      <ion-content>
		   <ion-toolbar>
			<ion-buttons class="logo" slot="end">
			  <!-- <ion-menu-button><ion-icon name="menu-outline"></ion-icon></ion-menu-button> -->

			</ion-buttons>
		  </ion-toolbar>
		  <div class="menu-list">
			<div class="list-wrap"  (click)="createroom()">
				<div class="img-wrap">
					<img src="assets/img/chat.png">
				</div>
				<div class="text-wrap">
					Creat or join a room
				</div>
			</div>
			<div class="list-wrap" (click)="inbox()">
				<div class="img-wrap">
					<img src="assets/img/mail.png">
				</div>
				<div class="text-wrap">
					Direct Messages
				</div>
			</div>
			<!-- <div class="list-wrap" (click)="freq()">
				<div class="img-wrap">
					<img src="assets/img/add-friend.png">
				</div>
				<div class="text-wrap">
					Messages Requests
				</div>
			</div> -->
			<!-- <div class="list-wrap" >
				<div class="img-wrap">
					<img src="assets/img/friends.png">
				</div>
				<div class="text-wrap" (click)="setting()">
					Unblock all
				</div>
			</div> -->
			<div class="list-wrap" >
				<div class="img-wrap">
					<img src="assets/img/friends.png">
				</div>
				<div class="text-wrap" (click)="umute()">
					Unmute all
				</div>
			</div>
			<div class="list-wrap" >
				<div class="img-wrap">
					<img src="assets/img/friends.png">
				</div>
				<div class="text-wrap" (click)="setting()">
					Invite a friend
				</div>
			</div>
			<div class="list-wrap" (click)="noti()">
				<div class="img-wrap">
					<img src="assets/img/notifi.png">
				</div>
				<div class="text-wrap">
					Notifications
				</div>
			</div>
			<div class="list-wrap" >
				<div class="img-wrap">
					<img src="assets/img/setting.png">
				</div>
				<div class="text-wrap">
					Setting
				</div>
			</div>
			<div class="list-wrap">
				<div class="img-wrap">
					<img src="assets/img/contact.png">
				</div>
				<div class="text-wrap">
					Contact
				</div>
			</div>
		  </div>

				<div class="copyright">
					<p class="p1">Terms & Services</p>
					<p class="p2">2022 © PopChat24, LLC | All Rights Reserved</p>
				</div>

      </ion-content>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
