<ion-header>
  <ion-toolbar>
   
	<ion-buttons class="logo" slot="end">
	  <ion-menu-button><ion-icon name="menu-outline"></ion-icon></ion-menu-button>
	  
	</ion-buttons>
	 <ion-title class="logo-top"><img src="assets/img/Layer 6.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="toplong" padding>
	<!-- <div class="popup-wrap">
		<div class="icon-wrap">
			<ion-icon name="chatbox-ellipses-outline"></ion-icon>
			<p>Message</p>
		</div>
		<div class="icon-wrap">
			<ion-icon name="flag-outline"></ion-icon>
			<p>Report</p>
		</div>
		<div class="icon-wrap">
			<ion-icon name="ban-outline"></ion-icon>
			<p>Block</p>
		</div>
	</div> -->
	<div class="message rec-message">
		<div class="rec-color">
			<img src="assets/img/Layer 7.png"><span>Hy simon Hy simonHy simon  Hy simon Hy simonHy simonHy simon Hy simonHy simon</span>
		</div>
		<p class="time">1 minute ago Honolulu, HI</p>
	</div>
	<div class="message sent-message">
		<div class="sent-color">
			<span>By simon Hy simon Hy simonHy simonHy simon Hy simonHy simonHy simon Hy simonHy simonHy simon Hy simonHy simon</span><img src="assets/img/Layer 7.png">
		</div>
		<p class="time">1 minute ago Honolulu, HI</p>
	</div>
	<div class="message rec-message">
		<div class="rec-color">
			<img src="assets/img/Layer 7.png"><span>Hy simon Hy simonHy simon Hy simon Hy simonHy simonHy simon Hy simonHy simon</span>
		</div>
		<p class="time">1 minute ago Honolulu, HI</p>
	</div>
	<div class="message sent-message">
		<div class="sent-color">
			<span>By simon</span><img src="assets/img/Layer 7.png">
		</div>
		<p class="time">1 minute ago Honolulu, HI</p>
	</div><div class="message rec-message">
		<div class="rec-color">
			<img src="assets/img/Layer 7.png"><span>Hy simon Hy simonHy simon</span>
		</div>
		<p class="time">1 minute ago Honolulu, HI</p>
	</div>
	<div class="message sent-message">
		<div class="sent-color">
			<span>By simon</span><img src="assets/img/Layer 7.png">
		</div>
		<p class="time">1 minute ago Honolulu, HI</p>
	</div>

</ion-content>
<ion-footer>
  <ion-toolbar>
	<div class="input-wrap">
		<ion-textarea placeholder="Write message">
		
		</ion-textarea>
	</div>
	<div class="send">
		<ion-icon name="send-outline"></ion-icon>
	</div>
  </ion-toolbar>
</ion-footer>