<ion-header class="top_head">
  <ion-toolbar>

    <div class="mini_left">
      <ion-img src="assets/img/mini.png"></ion-img>
    </div>
    <div class="logo_top">
      <ion-img src="assets/img/Layer 6.png"></ion-img>
    </div>
    <div class="side_menu_button">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="toplong" padding>
    <div class="titleon">
        <h3>Notification</h3>
        <p>Turn On/Off Notifications</p>
    </div>
    <div class="togel">
        <ion-toggle [(ngModel)]="pepperoni" (ionChange)="updatedod()" ></ion-toggle>
    </div>
</ion-content>
